*~
*.o
*.exe
*.a
*.so
*.m4

Makefile
config.h
config.log
config.status
libtool
src/.deps/
src/Makefile
src/parmandel
stamp-h1
Makefile.in
autom4te.cache/
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
src/Makefile.in

GPATH
GRTAGS
GTAGS

*.tar.gz